<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list> -->
  <div class="container second_menu">
      <div class="church_mission_panel church_color_deep" *ngIf="selectedItem.item === 4">
          We bring our services closer to our clients by assisting them in general business administration and introducing them to new opportunities and contacts.
      </div>

      <div class="church_mission_panel church_color_deep" *ngIf="selectedItem.item === 3">
          We provide small credits for petty traders in groups within La and Okaishie business areas. This empowers petty traders with the needed capital to run their businesses while cultivating the habit of saving.
          <br> <br>
        We also provide paid internship schemes for students on vacation and those whose courses of study require industrial attachment

      </div>


      <div class="church_mission_panel church_color_deep" *ngIf="selectedItem.item === 2">
          <h3>  Personal Loans</h3>

Quick and flexible loans for salaried workers who qualify for a maximum loan amount of GHc5, 000.00.
<h3> Business Loans</h3>
Financing products structured for businesses and productive individuals with a history of business activity over a minimum period of six months with relevant documentations.

      </div>

      <div  class="church_mission_panel church_color_deep" *ngIf="selectedItem.item === 1">

	"Tailor-made investment solutions with attractive interest rates"

  <h3>Albrim Fixed Deposit</h3>
  We offer attractive fixed deposit rates above current treasury bill rates over flexible durations.

  <h3>Albrim Savings</h3>
  Earn interest of 3% PA on a minimum account balance of GHc5.00


  <h3>Albrim “Ghanaman” Savings:</h3>
  Maintaining a minimum balance of GHc100.00 this account earns you 7%PA


  <h3>Albrim “Meba Daakye” Savings</h3>
  Enjoy an interest of 8% pa on a minimum balance of GHc100.00 and a minimum monthly deposit of GHc5.00 for your children below 18years of age.

      </div>

  </div>




  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
    {{selectedItem.item}}
  </div> -->
</ion-content>
