<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p> -->
  <ion-slides autoplay="2000" loop="true" speed="2000" pager="true" (ionSlideDidChange)="slideChanged()"   style="height:100px" does-continue="true">
    <ion-slide>
      <!-- <h1>Slide 1</h1> -->
      <ion-img width="100%" height="200px" src="assets/imgs/1.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
        <ion-img width="100%" height="200px" src="assets/imgs/2.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
        <ion-img width="100%" height="200px" src="assets/imgs/3.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
        <ion-img width="100%" height="200px" src="assets/imgs/5.jpg"></ion-img>
    </ion-slide>
  </ion-slides>


  <div padding>
    <div id="top_page">
      <div class="container">
              <h4>Welcome, {{ clientName }}</h4>

              <p>Our mission is to provide quick & flexible financial solutions through innovation, professionalism & excellence to individuals & businesses</p>
      <br>
              <div class="container second_menu" >

                 <div class="church_mission_panel church_color_deep" *ngFor="let d of accountDetails" >

                            <h3> GHS {{d.value | number}}
                              <!-- <span *ngIf="!d.value">0.00</span> -->
</h3>

                           <p> {{d.acc}} - {{d.product_name}}</p>

                        </div>
              </div>
          </div>
    </div>
    <div id="down_page">

    </div>
    </div>

</ion-content>
